.container {
  border-top: 1px solid #00000057;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  .info {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .info {
    margin-right: 20px;
  }
}