.container {
  border: 1px solid #b5b5b5;
  padding: 5%;
  width: 90%;
  border-radius: 5px;
  @media (min-width: 768px) {
    width: unset;
    padding: 3%;
  }
  tbody {
    text-align: center;
  }
  th {
    text-transform: capitalize;
  }
  tr {
    margin-bottom: 5px;
  }
}